:root {
  --main-bg-color: #222;
  --text-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-size: 1.8rem;
}

header {
  height: 45vh;
  padding: 5.6rem 5.2rem 0 5.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.2rem;
  position: relative;
  border-bottom: 8px solid #fff;
}

#header-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#round-number-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.8rem 1.4rem;
  background-color: #fff;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.game-btn {
  /* width: 5rem;
  height: 3rem; */
  padding: 1.6rem 2.8rem;
  background-color: #fff;
  color: #222;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 100ms;
}

.game-btn:hover {
  background-color: #ccc;
}

.game-btn:active {
  /* transform: translateY(5px); */
  transform: scale(98%);
}

#game-message {
  font-size: 4.8rem;
  margin-bottom: 3.6rem;
  transition: all 300ms;
  max-width: 800px;
  text-align: center;
  line-height: 1.6;
}

#numbers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

#numbers-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}

.number {
  background-color: #fff;
  color: #222;
  width: 15.6rem;
  height: 12.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6.4rem;
  transition: all 500ms;
}

.number.show {
  height: 16.4rem;
}

main {
  padding-top: 6.4rem;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}

#inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}

.inc-dec-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 1.2rem 1.2rem 0.8rem 1.2rem;
  font-size: 5.6rem;
  cursor: pointer;
  transition: all 100ms;
  font-family: inherit;
}

.inc-dec-btn:hover {
  color: rgb(255, 192, 55);
}

.inc-dec-btn:active {
  /* transform: translateY(5px); */
  transform: scale(95%);
}

#input-display {
  background-color: #fff;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;
  height: 15.6rem;
  width: 36rem;
  font-family: inherit;
  font-size: 5.6rem;
  text-align: center;
  border: none;
}

#inputs-btn-container {
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  justify-content: space-between;
  column-gap: 2.4rem;
  align-items: center;
}

.inputs-btn {
  font-family: inherit;
  font-size: 2.4rem;
  padding: 3.6rem 0 3.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: all 200ms;
}

.inputs-btn:active {
  transform: scale(98%);
}

#random-btn {
  /* height: 6.4rem; */
  background-color: #1b7da4;
}

#random-btn:hover {
  background-color: #146180;
}

#enter-btn {
  background-color: #1ba43d;
}

#enter-btn:hover {
  background-color: #198534;
}

#clear-btn {
  /* height: 6.4rem; */
  background-color: #c62020;
}

#clear-btn:hover {
  background-color: #ad2323;
}
