.project {
  position: relative;
  width: 100%;
  max-width: 42rem;

  /* border-radius: 8px; */
  overflow: hidden;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  aspect-ratio: 16 / 10;

  cursor: pointer;
}

.project img {
  width: 100%;
  height: auto;
}

.overlay {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.4rem;

  opacity: 0;

  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  background: rgb(55, 55, 55);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.01) 100%
  );

  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;

  color: #f8f9fa;
}

.project:hover .overlay {
  opacity: 100;
}

.name {
  font-size: 2.2rem;
  font-weight: 700;
  color: #f8f9fa;
}

.description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ced4da;
}

.tags {
  margin-top: 1.6rem;
  display: flex;
  gap: 1.8rem;

  font-weight: 700;

  letter-spacing: 0.4px;

  text-transform: uppercase;
}

.tags .tag {
  padding: 0.3rem 0.5rem;

  display: flex;
  justify-content: center;

  /* border-radius: 4px; */

  background-color: rgba(223, 227, 231, 0.39);

  font-size: 1.2rem;
}
