.nav {
  margin-left: 7.2rem;

  display: flex;
  align-items: center;

  font-weight: 700;
}

.nav ul {
  display: flex;
  gap: 5.2rem;
}

.nav a:link,
.nav a:visited {
  color: #343a40;
  transition: 200ms;
}

.nav a:hover {
  color: #15aabf;
}
