@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

.icon {
  width: 4.8rem;
  height: 4.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(30 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23ff4ad5%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23ff6347%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M934%2C642.5Q893%2C785%2C771%2C871.5Q649%2C958%2C500.5%2C957Q352%2C956%2C229%2C871Q106%2C786%2C66.5%2C643Q27%2C500%2C69%2C358.5Q111%2C217%2C229.5%2C124Q348%2C31%2C494%2C50Q640%2C69%2C761.5%2C145.5Q883%2C222%2C929%2C361Q975%2C500%2C934%2C642.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M934%2C642.5Q893%2C785%2C771%2C871.5Q649%2C958%2C500.5%2C957Q352%2C956%2C229%2C871Q106%2C786%2C66.5%2C643Q27%2C500%2C69%2C358.5Q111%2C217%2C229.5%2C124Q348%2C31%2C494%2C50Q640%2C69%2C761.5%2C145.5Q883%2C222%2C929%2C361Q975%2C500%2C934%2C642.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E');
}

.icon p {
  margin-top: 0.4rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #f8f9fa;

  letter-spacing: 1px;
}
