* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* max-width: 1200px; */
}

/**********************************/
/* GENERAL REUSABLE COMPONENTS */
/**********************************/

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 128px;
}

/**********************************/
/* HEADER */
/**********************************/

header {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
  /* margin-bottom: 64px; */
  width: 100%;
  background-color: #222;
  color: #fff;
}

.header-texts {
  /* font-family: "Josefin Sans", sans-serif; */
  /* padding: 48px 72px 0 72px; */
  /* margin-bottom: 36px; */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* For Sticky */
  height: 128px;
  position: relative;
}

.header-texts h2 {
  font-size: 64px;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.header-texts h2 a {
  color: inherit;
  text-decoration: none;
}

.header-texts h2 span {
  letter-spacing: 1;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
}

/**********************************/
/* NAVIGATION */
/**********************************/

/* nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
  font-weight: 700;
} */

.main-nav-list {
  font-family: "Poppins", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
  font-weight: 600;
}

.main-nav-list li {
  display: inline-block;
}

.main-nav-list a:link {
  font-size: 18px;
  display: inline-block;
  /* margin-top: 10px; */
  text-decoration: none;
  /* color: #000; */
  color: #fff;
  transition: all 300ms;
  border-bottom: 4px solid transparent;
  letter-spacing: 1.2px;
}

.main-nav-list a:hover {
  border-bottom: 4px solid #fff;
}

.main-nav-list a:visited,
.main-nav-list a:active {
  color: #fff;
}

/**********************************/
/* MAIN */
/**********************************/

.about-us-section {
  max-width: 1200px;
  margin: 0 auto;
  color: #222;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 192px 0;
  gap: 156px;
  align-items: center;
}

.about-us-texts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-us-texts h1 {
  font-size: 72px;
}

.about-us-texts h2 {
  font-size: 28px;
}

.about-us-texts p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 1.6px;
}

.about-us-img img {
  /* aspect-ratio: 1; */
  width: 100%;
  object-fit: cover;
}

/**********************************/
/* FOOTER */
/**********************************/
footer {
  padding: 48px 64px;
  width: 100%;
  height: 512px;
  background-color: #222;
  color: #eee;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer > h2 {
  /* display: none; */
  color: #fff;
  position: absolute;
  top: 0;
  right: 50%;
  font-size: 10vw;
  transform: translate(65%, -47%);
}

footer a {
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  font-weight: 500;
}

.footer-left,
.footer-right {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-email {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-socmed {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
}

.footer-right {
  align-items: flex-end;
}

.footer-right div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

/* ionicons */
ion-icon {
  font-size: 32px;
}
