* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* max-width: 1200px; */
}

img {
  max-width: 100%;
}

/**********************************/
/* GENERAL REUSABLE COMPONENTS */
/**********************************/

.container {
  max-width: 1600px;
  margin: 0 auto;
  /* padding: 0 128px; */
}

/**********************************/
/* HEADER */
/**********************************/

header {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
  margin-bottom: 64px;
  width: 100%;
}

.header-texts {
  /* font-family: "Josefin Sans", sans-serif; */
  /* padding: 48px 72px 0 72px; */
  /* margin-bottom: 36px; */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* For Sticky */
  height: 128px;
  position: relative;
}

.header-texts h2 {
  font-size: 64px;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.header-texts h2 a {
  color: inherit;
  text-decoration: none;
}

.header-texts h2 span {
  letter-spacing: 1;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
}

.header-img {
  margin: 0 auto;
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

/**********************************/
/* NAVIGATION */
/**********************************/

/* nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
  font-weight: 700;
} */

.main-nav-list {
  font-family: "Poppins", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
  font-weight: 600;
}

.main-nav-list li {
  display: inline-block;
}

.main-nav-list a:link {
  font-size: 18px;
  display: inline-block;
  /* margin-top: 10px; */
  text-decoration: none;
  color: #000;
  transition: all 300ms;
  border-bottom: 4px solid transparent;
  letter-spacing: 1.2px;
}

.main-nav-list a:hover {
  border-bottom: 4px solid #000;
}

.main-nav-list a:visited,
.main-nav-list a:active {
  color: #222;
}

/**********************************/
/* MAIN */
/**********************************/

.gallery-section {
  padding: 0 24px 128px 24px;
}

.gallery h1 {
  font-size: 48px;
  margin-bottom: 48px;
  font-weight: 700;
  text-align: right;
}

.gallery-grid {
  margin: 0 auto;
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 48px;
  /* padding: 48px; */
  width: 100%;
}

.gallery-grid img {
  height: auto;
  width: 100%;
  /* Aspect-ratio will work as long as the image has a width */
  aspect-ratio: 5/4;
  object-fit: contain;
}

@media only screen and (max-width: 1200px) {
  nav {
    display: none;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
  }

  .gallery-grid img {
    aspect-ratio: 3/2;
  }
}

@media only screen and (max-width: 992px) {
  .gallery-grid img {
    aspect-ratio: 16/10;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

/**********************************/
/* FOOTER */
/**********************************/
footer {
  padding: 48px 64px;
  width: 100%;
  height: 512px;
  background-color: #222;
  color: #eee;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer > h2 {
  /* display: none; */
  color: #fff;
  position: absolute;
  top: 0;
  right: 50%;
  font-size: 10vw;
  transform: translate(65%, -47%);
}

footer a {
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  font-weight: 500;
}

.footer-left,
.footer-right {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-email {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-socmed {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
}

.footer-right {
  align-items: flex-end;
}

.footer-right div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

/* ionicons */
ion-icon {
  font-size: 32px;
}
