@media only screen and (max-width: 1426px) {
  /**********************************/
  /* HERO - SECTION */
  /**********************************/
  .hero {
    gap: 64px;
  }

  .hero-text-box h1 {
    font-size: 56px;
    margin-bottom: 28px;
  }

  .hero-text-box p {
    margin-bottom: 64px;
  }
}

@media only screen and (max-width: 1160px) {
  /**********************************/
  /* HEADER */
  /**********************************/
  .navbar h2 {
    font-size: 48px;
  }
  /**********************************/
  /* NAVIGATION */
  /**********************************/

  .main-nav-list {
    gap: 28px;
  }
  .main-nav-list a:link {
    font-size: 16px;
  }

  /**********************************/
  /* HERO - SECTION */
  /**********************************/

  .hero {
    gap: 48px;
    padding: 0 80px;
  }

  .hero-text-box h1 {
    font-size: 56px;
    margin-bottom: 28px;
  }

  .hero-text-box p {
    margin-bottom: 64px;
  }

  /**********************************/
  /* COLLECTION - SECTION */
  /**********************************/
  .collection-grid {
    column-gap: 48px;
  }
}

@media only screen and (max-width: 1056px) {
  /**********************************/
  /* HEADER */
  /**********************************/
  .navbar h2 {
    font-size: 48px;
  }
  /**********************************/
  /* HERO - SECTION */
  /**********************************/

  .hero {
    gap: 48px;
    padding: 0 80px;
  }

  .hero-text-box h1 {
    font-size: 42px;
    margin-bottom: 28px;
  }

  .hero-text-box p {
    margin-bottom: 64px;
  }

  /**********************************/
  /* FILLER - SECTION */
  /**********************************/

  .filler-text-section h2 {
    font-size: 56px;
  }
}

/* MOBILE */

@media only screen and (max-width: 960px) {
  /* Mobile Navigation */

  /* .btn-mobile-nav {
    display: block;
    z-index: 99999;
  }

  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 300ms ease-in;

    Hide navigation
    display: none;

    Hide it visually
    opacity: 0;

    Make it inaccessible to mouse and keyboard
    pointer-events: none;

    Hide from screen readers
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-list a:link {
    font-size: 32px;
  } */

  /**********************************/
  /* MOBILE NAV */
  /**********************************/

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }

  .navbar-links ul {
    width: 100%;

    flex-direction: column;
    gap: 0;
  }

  .navbar-links li {
    text-align: center;
  }

  /* .navbar-links li a {
  } */

  .navbar-links.active {
    display: flex;
  }

  /**********************************/
  /* HERO - SECTION */
  /**********************************/

  .hero-section {
    padding: 0 0 192px 0;
  }

  .hero {
    gap: 48px;
    padding: 0 80px;
  }

  .hero-text-box h1 {
    font-size: 36px;
    margin-bottom: 28px;
  }

  .hero-text-box p {
    font-size: 16px;
    margin-bottom: 48px;
  }

  .hero-text-box a:link {
    font-size: 16px;
    padding: 8px 28px;
  }

  /**********************************/
  /* COLLECTION - SECTION */
  /**********************************/
  .collection-text-box h3 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.8px;
    margin-bottom: 28px;
  }
}

@media only screen and (max-width: 818px) {
  /**********************************/
  /* HEADER */
  /**********************************/

  header {
    padding: 0 48px 64px 48px;
  }

  .navbar {
    padding: 32px 0 0px 0;
  }

  /**********************************/
  /* HERO - SECTION */
  /**********************************/
  .hero {
    grid-template-columns: 1fr;
    gap: 64px;
  }

  .hero-text-box h1 {
    font-size: 42px;
    margin-bottom: 28px;
  }

  .hero-img-box {
    order: -1;
  }

  .hero-img-box img {
    aspect-ratio: 5/4;
  }

  /**********************************/
  /* COLLECTION - SECTION */
  /**********************************/
  .collection-title {
    font-size: 72px;
  }

  .collection-section {
    padding: 96px 0 120px 0;
  }

  .collection-grid {
    grid-template-columns: 1fr;
    /* column-gap: 120px; */
    row-gap: 64px;
  }

  .collection-text-box {
    margin-bottom: 64px;
  }

  .collection-img-box img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .collection-img-box:nth-child(4) {
    grid-row: 3;
  }

  .collection-img-box:nth-child(8) {
    grid-row: 7;
  }

  .collection-text-box p,
  .collection-text-box span {
    padding-left: 0;
  }

  /**********************************/
  /* FILLER - SECTION */
  /**********************************/

  .filler-text-section {
    padding: 96px 64px;
  }

  .filler-text-section h2 {
    font-size: 42px;
  }

  /**********************************/
  /* FAQ - SECTION */
  /**********************************/
  .faq-wrapper {
    width: 100%;
  }

  /**********************************/
  /* CTA - SECTION */
  /**********************************/

  .cta-section {
    padding: 180px 32px;
  }
  .cta {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .cta-img-box {
    grid-row: 1;
  }

  /**********************************/
  /* FOOTER */
  /**********************************/
  footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 56px;
  }

  .footer-left,
  .footer-right,
  .footer-socmed {
    justify-content: center;
    text-align: center;
  }

  .footer-left {
    gap: 24px;
  }

  .footer-email {
    gap: 6px;
  }

  .footer-right {
    align-items: center;
    justify-content: center;
    gap: 156px;
  }

  .footer-right div {
    align-items: center;
    gap: 6px;
  }
}

@media only screen and (max-width: 658px) {
  /**********************************/
  /* HEADER */
  /**********************************/
  header {
    padding: 0 0 14px 28px;
  }

  .navbar {
    padding: 32px 32px 48px 32px;
  }

  .navbar h2 {
    font-size: 36px;
  }

  .toggle-button {
    top: 38px;
  }

  .navbar {
    padding: 32px 0 32px 0;
  }

  /**********************************/
  /* HERO - SECTION */
  /**********************************/

  .hero-section {
    padding: 0 0 156px 0;
    /* width: 100%; */
  }

  .hero {
    padding: 0 32px;
  }

  /**********************************/
  /* COLLECTION - SECTION */
  /**********************************/

  .collection-section {
    padding-bottom: 72px;
  }

  /**********************************/
  /* FILLER - SECTION */
  /**********************************/

  .filler-text-section {
    padding: 96px 64px;
  }

  /**********************************/
  /* FAQ - SECTION */
  /**********************************/

  .faq-section {
    width: 100%;
    padding: 72px 48px;
  }

  /**********************************/
  /* CTA - SECTION */
  /**********************************/

  .cta-section {
    padding: 96px 32px;
  }

  .form-first-name,
  .form-last-name,
  .form-contact-no,
  .form-email {
    grid-column: 1 / 3;
  }
}

@media only screen and (max-width: 658px) {
  /**********************************/
  /* HEADER */
  /**********************************/

  /**********************************/
  /* HERO - SECTION */
  /**********************************/
  .hero-text-box h1 {
    font-size: 36px;
  }

  /**********************************/
  /* COLLECTION - SECTION */
  /**********************************/

  .collection-title {
    font-size: 48px;
  }

  .collection-grid {
    row-gap: 32px;
  }

  /**********************************/
  /* FILLER - SECTION */
  /**********************************/
  .filler-text h2 {
    font-size: 28px;
  }

  .filler-text p {
    /* font-style: italic; */
    font-size: 18px;
    text-align: right;
  }

  /**********************************/
  /* FAQ - SECTION */
  /**********************************/
  .faq-section h3 {
    font-size: 28px;
  }

  /**********************************/
  /* CTA - SECTION */
  /**********************************/
  .cta-text-box {
    padding: 36px 52px 52px 52px;
  }

  .cta-text-box h2 {
    font-size: 32px;
  }
}
